{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "REST API",
    "description": ""
  },
  "host": "api.pezentics.com",
  "basePath": "/",
  "schemes": ["http"],
  "paths": {
    "/api/auth/signup": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Email": {
                  "example": "any"
                },
                "Password": {
                  "example": "any"
                },
                "ContactEmail": {
                  "example": "any"
                },
                "FullName": {
                  "example": "any"
                },
                "FirstName": {
                  "example": "any"
                },
                "LastName": {
                  "example": "any"
                },
                "RoleType": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/auth/signin": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Email": {
                  "example": "any"
                },
                "Password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/auth/reset": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Email": {
                  "example": "any"
                },
                "Password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/auth/verify/{token}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/auth/logout": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/user/addRelation": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "RelationId": {
                  "example": "any"
                },
                "FirstName": {
                  "example": "any"
                },
                "LastName": {
                  "example": "any"
                },
                "MiddleName": {
                  "example": "any"
                },
                "NickName": {
                  "example": "any"
                },
                "Email": {
                  "example": "any"
                },
                "Age": {
                  "example": "any"
                },
                "Sex": {
                  "example": "any"
                },
                "Tribe": {
                  "example": "any"
                },
                "FamilyName": {
                  "example": "any"
                },
                "Language": {
                  "example": "any"
                },
                "Kindred": {
                  "example": "any"
                },
                "Clan": {
                  "example": "any"
                },
                "Mobile": {
                  "example": "any"
                },
                "Address": {
                  "example": "any"
                },
                "City": {
                  "example": "any"
                },
                "HomeTown": {
                  "example": "any"
                },
                "LGA": {
                  "example": "any"
                },
                "State": {
                  "example": "any"
                },
                "Country": {
                  "example": "any"
                },
                "ProfilePicture": {
                  "example": "any"
                },
                "CoverPicture": {
                  "example": "any"
                },
                "Desc": {
                  "example": "any"
                },
                "UserId": {
                  "example": "any"
                },
                "RelationType": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/updateRelation/{relationId}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "relationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "FirstName": {
                  "example": "any"
                },
                "LastName": {
                  "example": "any"
                },
                "MiddleName": {
                  "example": "any"
                },
                "NickName": {
                  "example": "any"
                },
                "Email": {
                  "example": "any"
                },
                "Age": {
                  "example": "any"
                },
                "Sex": {
                  "example": "any"
                },
                "Tribe": {
                  "example": "any"
                },
                "FamilyName": {
                  "example": "any"
                },
                "Language": {
                  "example": "any"
                },
                "Kindred": {
                  "example": "any"
                },
                "Clan": {
                  "example": "any"
                },
                "Mobile": {
                  "example": "any"
                },
                "Address": {
                  "example": "any"
                },
                "City": {
                  "example": "any"
                },
                "HomeTown": {
                  "example": "any"
                },
                "LGA": {
                  "example": "any"
                },
                "State": {
                  "example": "any"
                },
                "Country": {
                  "example": "any"
                },
                "ProfilePicture": {
                  "example": "any"
                },
                "CoverPicture": {
                  "example": "any"
                },
                "Desc": {
                  "example": "any"
                },
                "UserId": {
                  "example": "any"
                },
                "RelationId": {
                  "example": "any"
                },
                "RelationType": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/getRelation/{relationType}/{relationId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "relationType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "relationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/getAllRelation/{relationType}/{userId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "relationType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/deleteRelation/{relationId}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "relationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/addChildOrSibling": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "child": {
                  "example": "any"
                },
                "Email": {
                  "example": "any"
                },
                "UserId": {
                  "example": "any"
                },
                "RelationType": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/updateChildOrSibling": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "child": {
                  "example": "any"
                },
                "Email": {
                  "example": "any"
                },
                "UserId": {
                  "example": "any"
                },
                "RelationType": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/getChildOrSibling/{relationId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "relationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/getAllChildorSibling/{relationType}/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "relationType",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/deleteChildorSibling/{relationId}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "relationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/addSchoolplacework": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "child": {
                  "example": "any"
                },
                "Email": {
                  "example": "any"
                },
                "UserId": {
                  "example": "any"
                },
                "RelationType": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/updateSchoolPlaceWork": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "child": {
                  "example": "any"
                },
                "Email": {
                  "example": "any"
                },
                "UserId": {
                  "example": "any"
                },
                "RelationType": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/getSchoolPlaceWork/{relationType}/{Id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "relationType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/getAllSchoolPlaceWork/{relationType}/": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "relationType",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/deleteChildorSibling/{relationType}/{Id}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "relationType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/findAllUser/{userId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/findAllUser": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/findAllUserBySearch/{name}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/findAllUsersByDate/{startDate}/{toDate}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "toDate",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/updateUser/{userId}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "UserId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/updateFile": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "UserId": {
                  "example": "any"
                },
                "FileType": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/uploadCompanyDoc": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "RefId": {
                  "example": "any"
                },
                "DocTitle": {
                  "example": "any"
                },
                "DocType": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/user/delete": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "x-access-token",
            "in": "header",
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/deleteAll": {
      "post": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/findRoles": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/findUserRoles": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/updateRole/{roleId}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/updateUserRole/{userId}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "UserId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/deleteRole/{roleId}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-access-token",
            "in": "header",
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      },
      "post": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/{id}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/advert/addadvert": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "AdvertName": {
                  "example": "any"
                },
                "AdvertImgUrl": {
                  "example": "any"
                },
                "AdvertType": {
                  "example": "any"
                },
                "AdvertCaption": {
                  "example": "any"
                },
                "AdvertPage": {
                  "example": "any"
                },
                "AdvertSection": {
                  "example": "any"
                },
                "AdvertRegion": {
                  "example": "any"
                },
                "Country": {
                  "example": "any"
                },
                "IPAddress": {
                  "example": "any"
                },
                "AdvertCost": {
                  "example": "any"
                },
                "Currency": {
                  "example": "any"
                },
                "IsEnabled": {
                  "example": "any"
                },
                "PublishedDateFrom": {
                  "example": "any"
                },
                "PublishedDateFromTo": {
                  "example": "any"
                },
                "UserId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/advert/updateAdvert/{advertId}": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "advertId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "AdvertName": {
                  "example": "any"
                },
                "AdvertType": {
                  "example": "any"
                },
                "AdvertCaption": {
                  "example": "any"
                },
                "AdvertPage": {
                  "example": "any"
                },
                "AdvertSection": {
                  "example": "any"
                },
                "AdvertRegion": {
                  "example": "any"
                },
                "Country": {
                  "example": "any"
                },
                "IPAddress": {
                  "example": "any"
                },
                "AdvertCost": {
                  "example": "any"
                },
                "Currency": {
                  "example": "any"
                },
                "IsEnabled": {
                  "example": "any"
                },
                "PublishedDateFrom": {
                  "example": "any"
                },
                "PublishedDateFromTo": {
                  "example": "any"
                },
                "AdvertId": {
                  "example": "any"
                },
                "UserId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/advert/getAdvert/{advertId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "advertId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/advert/getAllAdvert": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/advert/deleteAdvert/{advertId}": {
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "advertId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/updateRelation": {
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "FirstName": {
                  "example": "any"
                },
                "LastName": {
                  "example": "any"
                },
                "MiddleName": {
                  "example": "any"
                },
                "NickName": {
                  "example": "any"
                },
                "Email": {
                  "example": "any"
                },
                "Age": {
                  "example": "any"
                },
                "Sex": {
                  "example": "any"
                },
                "Tribe": {
                  "example": "any"
                },
                "FamilyName": {
                  "example": "any"
                },
                "Language": {
                  "example": "any"
                },
                "Kindred": {
                  "example": "any"
                },
                "Clan": {
                  "example": "any"
                },
                "Mobile": {
                  "example": "any"
                },
                "Address": {
                  "example": "any"
                },
                "City": {
                  "example": "any"
                },
                "HomeTown": {
                  "example": "any"
                },
                "LGA": {
                  "example": "any"
                },
                "State": {
                  "example": "any"
                },
                "Country": {
                  "example": "any"
                },
                "ProfilePicture": {
                  "example": "any"
                },
                "CoverPicture": {
                  "example": "any"
                },
                "Desc": {
                  "example": "any"
                },
                "UserId": {
                  "example": "any"
                },
                "RelationId": {
                  "example": "any"
                },
                "RelationType": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/getRelation/{relationId}/{relationType}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "relationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "relationType",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/getAllRelation/{userId}/{relationType}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "relationType",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/getSchoolPlaceWork/{Id}/{relationType}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "relationType",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/getAllSchoolPlaceWork/{userId}/{relationType}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "relationType",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/findUser/{userId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  }
}
